<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2022</p>
                    <div class="h5">FULL STACK DEVELOPER</div>
                    </div>    
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">MEAN Stack Developer</div>
                            <h4 class="category">ICT ACADEMY KERALA</h4>
                            <ul>
                                    <li>About to complete the certified course in MEAN Stack Developer.</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2002-2006</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Engineering</div>
                                <h4 class="category">St.Joseph's College Of Engineering</h4>
                                <ul>
                                    <li> St.Joseph's College Of Engineering and Technology,  Pala </li>
                                        <li>Completed B.Tech in Applied Electronics and Instrumentation with <b>68%</b> aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2000-2002</p>
                        <div class="h5">Higher Secondary School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Higher Secondary School</div>
                            <h4 class="category">Mahatma Gandhi Government HSS Pala</h4>
                            <ul>
                                 <li>Completed  Higher Secondary School with <b> 74.78%</b> aggregate.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>1999-2000</p>
                        <div class="h5">Sedcondary School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Sedcondary School</div>
                                <h4 class="category">St.Mary's HSS Pala</h4>
                                <ul>
                                        <li>Completed  SSLC with <b>78.67%</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               