<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Experience</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <div class="h5">Organization</div>
                    </div>    
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                           <h4 class="category">3i-Infotech Ltd,Bangalore</h4>
                            <ul>
                               <li>3i Infotech is a global Information Technology company which provides technology solutions to over 1500 customers in more than 50 countries across 5 continents, spanning a range of verticals.</li>
                               <li>The Company provides software products, IT services and Operations Outsourcing (BPO) solutions for a variety of industry verticals including Insurance, Banking, Capital Markets, Mutual Funds & Asset Management, Wealth Management, Government, Manufacturing and Retail.</li>
                               <li>The Company's quality certifications include SEI CMMI Level 5 for Software business.</li>
                           
                            </ul>
                    </div>
                </div>
            </div>
        </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                           <div class="h5">Designation</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                                 <h4 class="category">Software Engineer </h4>
                                <ul>
                                    <li> Qualitative experience as a technical analyst in the Post implementation support team .</li>
                                        <li>Technical experience in PowerBuilder, Oracle ,PL/SQL .</li>
                                        <li>A good communication ability to work within a team and work according to deadlines.</li>
                                        <li>Can do attitude.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                           
                        <div class="h5">Duration</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            
                            <h4 class="category">Feb 2007 – Apr 2012</h4>
                            <ul>
                                    <li>Experience of 5 years 2 months.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                              <div class="h5">Technologies</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                                 <h4 class="category">PowerBuilder 6,PB 10,Oracle9i, PL/SQL</h4>
                                <ul>
                                    <li>Frontend :Powerbuilder .</li>
                                    <li>Backend  :PL SQL .</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                           <div class="h5">Project  Details</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                           
                                <h4 class="category">MFUND AM (MFUND Asset Management)</h4>
                                <ul>
                                   <li>Clients:Kotak Mutual Fund,ING  Mutual fund,ESCORTS Mutual fund etc.</li>
                                </ul>
                                <h4 class="category">CMS (Cash Management System)</h4>
                                <ul>
                                   <li>Clients:Kotak Mutual Fund,TATA Mutual Fund etc. </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               