
<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                        <p align="justify">Aiming for a challenging, responsible and rewarding career in a challenging environment, which will be enabling me to improve myself professionally and bring out the best in me.</p>
                        <p align="justify">Currently, not working.I was worked as a technical analyst (2007 Feb-2012 Apr) in the Post implementation support team in <b>3i-Infotech Ltd Bangalore </b> and I have an experience of 5 years in the same .</p>
                        <p align="justify">To learn more about me, keep exploring my site or reach out directly.</p>
                        
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">June 01, 1985</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">nimamathew@gmail.com</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Mobile No:</strong>
                            </div>
                            <div class="col-sm-8">9645220190</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">Pala ,Kottayam ,Kerala</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">Malayalam, English</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

