<div class="section" id="education">
  <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Services</div>
          <div class="card">
              <div class="row">
                  <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-education-header">
                          <img src="..//../assets/image/service2.jpg" alt="">
                       </div>    
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h4">Frontend Development.</div>
                              <h4 class="category">Development Services in</h4>
                              <ul>
                                  <li>HTML ,CSS ,JavaScript  </li>
                                      <li>Frontend Frame work using Angular latest vaersions.</li>
                              </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="row">
                  <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-education-header">
                          <img src="..//../assets/image/service1.png" alt="">
                      </div>    
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h4">Backend Development.</div>
                          <h4 class="category">Technologies used</h4>
                          <ul>
                                <li>NodeJS and Express.</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <img src="..//../assets/image/db1.jpg" alt="">
                     </div>    
                </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h5">Database Management</div>
                              <h4 class="category">Knowledge in</h4>
                              <ul>
                                 <li>MongoDb ,Oracle PL-SQL Databases</li>
                              </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <img src="..//../assets/image/angular1.png" alt="">
                     </div>    
                </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h4">Tools & Technologies Of Our Full Stack Development Services</div>
                              <h4 class="category"></h4>
                              <ul>
                                      <li>Angular JS ,Bootstarap</li>
                              </ul>
                      </div>
                  </div>
              </div>
          </div>
  </div>
</div>                                               